/* style.css */
header{
    border-style: solid;
    padding: 20px 40px 50px 20px;
    margin: 40px;
}
h1{
    text-align: right;
    padding: 10px 10px 10px 10px;
}

.navigation  li {
	display:block;
    text-align: center;
	width:80px;
	float:left;
	margin-left:60px;
    padding: 2px;
	border:1px solid #000;
    font-weight: bold;
}
a{
    color:#000;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    background-color: yellow;
}
aside{
   margin-left: 40px;
   position: relative;
   float:left;
   width:300px; 
   top: 0px;
   bottom: 0px;
   padding-bottom: 200px;
}
.products{
    list-style-type: none;
    padding: 0px;
}
.product-list{
    border:1px solid #000;
    margin-right: 100px;
    margin-top: 20px;
    padding: 2px;
    text-align: center
}
.popular-links{
    list-style-type: none;
}

.popular-links li{
    margin-top: 10px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 1024px;
    padding: 0;
    margin: 0 auto;
    color: #000000;
}

main{
    margin: 0 auto;
    width: 900px;
    position: relative;
}

figure{
    border: 1px solid;
    padding: 10px;
    width: 300px;
    position: absolute;
    top: 260px;
    right: 0;
    margin: 0;
}

figcaption{
    text-align: center;
}

#second{
    width: 560px;
}
/* p{
    padding: 20px;
} */
/* .footer-nav{
    border:1px solid #000;
} */
.footer-nav li
{
    list-style-type: none;
    display:block;
    text-align: center;
	width:80px;
	float:left;
	margin-left:60px;
    padding: 2px;
    padding-top: 30px;
	/* border:1px solid #000; */
    font-weight: bold;
}

footer{
    padding: 10px 20px 5px 20px;
    margin-right: 40px;
    margin-left: 40px;
    border:1px solid #000;
    margin-bottom: 20px;
}
h5{
    text-align: center;
    margin-top: 120px;
}

.foot{
    color: blue;
}